/*   Main section   */

.mainContainer{
  height: auto;
  min-height: calc(100vh);
  width: 100%;
  bottom: 0;
}
.mainWrapper{
  position: relative;
  margin: 0 auto;
  height: auto;
  min-height: calc(100vh - 174px);
  width: 1060px;
  background: #3a3a3a;
  padding-bottom: 80px;
  padding-top: 94px;
}
@media (min-width: 700px) and (max-width: 1440px) {
  .mainWrapper{
    width: 700px;
  }
}
@media (max-width: 700px) {
  .mainWrapper{
    width: calc(100% - 10px);
  }
}

.logo{
  display: block;
  background: url(./img/logo.svg) no-repeat center;
  background-size: contain;
  width: 100px;
  height: 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: 200ms;
  &:hover{
    transform: scale(1.1);
  }
  &:focus{
    outline: none;
  }

}

/*   Hero Text   */
.heroText{
  margin: 0 auto;
  max-width: 340px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}
