h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    width: 100%;

    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.postsWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 15px;
    width: 100%;
    overflow: hidden;
    margin: 20px auto;

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
