h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    margin-left: 130px;
    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.heading-gamePage{
    width: 100% !important;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-left: 130px !important;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.postsWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 330px;
    grid-gap: 15px;
    width: 100%;
    overflow: hidden;
    margin: 20px auto 20px 130px;

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
