.mainLastContainer{
  height: 410px;
  width: 100vw;
  overflow: hidden;
}

.mainLastWrapper{
  position: relative;
  height: 340px;
  padding: 0 130px;
  margin: 20px 0 0 0;
  white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;

  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    width: 340px;
  }
}