.post-card{
    position: relative;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition: 200ms;
    //transition: transform 400ms cubic-bezier(.17,.67,.57,.92);

    -webkit-box-shadow:0 5px 8px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 5px 8px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.1) inset;

&:hover{

    -webkit-box-shadow:0 5px 8px rgba(0, 0, 0, 0.0), 0 0 20px rgba(0, 0, 0, 0.0) inset;
    -moz-box-shadow:0 5px 8px rgba(0, 0, 0, 0.0), 0 0 20px rgba(0, 0, 0, 0.0) inset;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.0), 0 0 20px rgba(0, 0, 0, 0.0) inset;
}

    &__poster{
        position: absolute;
        left: 0;
        top: 0;
        min-height: 120px;
        width: 100%;
        height: auto;
        opacity: 1;
    }

    &__title{
        position: absolute;
        color: #fff;
        font-weight: 600;
        padding: 18px 6px 6px 6px;
        line-height: 143.49%;
        height: auto;
        opacity: 1;
        font-size: 14px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        transition: 200ms;
        text-align: left;
    }

    &__game{
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        padding: 6px 6px 26px 6px;
        font-weight: bold;
    }

    img{
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
    }
}

