.create-game-form{
    margin-top: 100px;
    font-size: 16px;
    padding: 15px;

    &__input{
        clear: left;
        float: left;
        position: relative;
        width: 300px;
        font-size: 16px;
        margin: 0 0 16px 0;
        padding: 8px 16px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #333333;
        transition: 1s;

        &:focus{
            border: 1px solid #9B5DF7;
        }
        &[type='checkbox']{
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 16px;
        }
    }

    &__imgPrev{
        &_poster{
            width: 300px;
            height: 300px;
            object-fit: cover;
            display: block;
        }
        &_bg{
            width: 300px;
            height: 86px;
            object-fit: cover;
            display: block;
        }
    }
    label{
        margin: 0 0 8px 16px;
        display: block;
        text-align: left;
    }
}



