.searchResultBar{
    width: calc(100% - 260px);
    margin: 0 130px;
    @media (max-width: 700px) {

    }
}
.givingSpaceAbove{
    margin-top: 100px;
    display: block;
    position: relative;
}
.nothing{
    margin-top: 100px;
    margin-left: 130px;
}