.autocomplete-list{
    list-style: none;
    width: 100%;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    background: #333333;
    border: 1px solid #616161;

    li{
        padding: 5px;
        cursor: pointer;
        z-index: 10000;

        &:hover{
            background: #616161;
        }
    }
}

