/*   mainFresh   */

h2{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  padding-top: 27px;
  width: 700px;
  margin: 0 auto;

  @media (max-width: 700px) {
    width: 340px;
  }
}
.mainFresh{
  h2{

    width: 700px;

    @media (max-width: 700px) {
      width: 340px;
    }
  }
}

.freshWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0 0;
  width: 700px;
  margin: 20px auto 0 auto;

  @media (min-width: 700px) and (max-width: 1440px) {

  }
  @media (max-width: 700px) {

    grid-template-columns: repeat(2, 1fr);
      width: 340px;

  }


      // .freshUnit{
      //   width: 160px;
      //   height: 102px;
      //   border-radius: 15px;
      //   display: inline-block;
      //   position: relative;
      //   overflow: hidden;
      //     &:after,  &:before{
      //       box-sizing: border-box;
      //       position: absolute;
      //       width: 100%;
      //       padding: 20px;
      //       color: #fff;
      //       transition: transform .4s ease-out;
      //     }
      //   &:after{
      //     content: attr(data-title);
      //     top: -10px;
      //     background: rgba(0,0,0,.4);
      //     font-size: 17px;
      //     font-weight: 300;
      //     text-align: center;
      //     transform: translateY(-100%) scale(.8);
      //   }
      //   &:before{
      //     content: attr(data-description) "…";
      //     top: 33%;
      //     height: 80%;
      //     background: rgba(107,38,68,.6);
      //     font-size: 17px;
      //     transform: translateY(100%) scale(.8);
      //     text-align: center;
      //   }
      //   &:hover:after, &:hover:before{
      //     cursor: pointer;
      //     transform: translateY(0%) scale(1);
      //   }

      //   &_1{
      //     background: url('./img/metro.jpg') no-repeat center;
      //     background-size: cover;
      //   }
      //   &_2{
      //     background: url('./img/dota.jpg') no-repeat center;
      //     background-size: cover;
      //   }
      //   &_3{
      //     background: url('./img/genius.jpg') no-repeat center;
      //     background-size: cover;
      //   }
      //   &_4{
      //     background: url('./img/mtg.jpg') no-repeat center;
      //     background-size: cover;
      //   }

      // }
}
