/*   mainFresh   */

.freshWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
      .freshUnit{
        width: 225px;
        height: 150px;
        border-radius: 15px;
        display: inline-block;
        position: relative;
        margin: 10px 5px;
        overflow: hidden;
          &:after,  &:before{
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            padding: 20px;
            color: #fff;
            transition: transform .4s ease-out;
          }
        &:after{
          content: attr(data-title);
          top: -10px;
          background: rgba(0,0,0,.4);
          font-size: 17px;
          font-weight: 300;
          text-align: center;
          transform: translateY(-100%) scale(.8);
        }
        &:before{
          content: attr(data-description) "…";
          top: 33%;
          height: 80%;
          background: rgba(107,38,68,.6);
          font-size: 17px;
          transform: translateY(100%) scale(.8);
          text-align: center;
        }
        &:hover:after, &:hover:before{
          cursor: pointer;
          transform: translateY(0%) scale(1);
        }

        &_1{
          background: url('./img/metro.jpg') no-repeat;
          background-size: cover;
        }
        &_2{
          background: url('./img/dota.jpg') no-repeat;
          background-size: cover;
        }
        &_3{
          background: url('./img/genius.jpg') no-repeat;
          background-size: cover;
        }
        &_4{
          background: url('./img/mtg.jpg') no-repeat;
          background-size: cover;
        }

      }
}
