.moderation{
    &__container{
        margin: 130px 130px 0 130px;
    }
    &__wrapper{

    }
    &__heading{
        margin: 16px 0 32px 0;
        padding: 0 !important;
        position: relative;
    }
}