.post-page{
    margin: 0 auto 0 130px;
    width: calc(100% - 130px);
    max-width: calc(800px - 130px);

    &__img{
        position: relative;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 34px auto;
        &_pic{
            position: relative;
            max-width: 100%;
            width: auto;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 33px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        &_blur{
            position: absolute;
            top: 30px;
            left: 50px;
            max-width: 100%;
            width: calc(100% - 100px);
            height: auto;
            border-radius: 10px;
            filter: blur(50px);
            z-index: 1;
        }
    }

    &__p, li{
        float: left;
        position: relative;
        width: 100%;
        z-index: 2;
        margin-top: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        /* or 176% */

        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

        @media (max-width: 700px) {
            font-size: 16px;
            line-height: 27px;
        }

        & a {
            text-decoration: underline;
        }

        & b {
            font-weight: bold;
        }
        & i {
            font-style: italic;
        }
    }

    &__embed{
        float: left;
        display: block;
        width: 670px;
        height: 368px;
        margin: 20px auto 15px 0;
        position: relative;
        border-radius: 4px;
        @media (min-width: 450px) and (max-width: 800px) {
            width: 100%;
            height: 368px;
        }
        @media (max-width: 450px) {
            width: 100%;
            height: 200px;
        }
    }
    &__h2{
        float: left;
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        padding-top: 0 !important;
        padding-left: 0 !important;
        /* or 133% */
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 32px !important;
        //margin-left: 130px;
        margin-bottom: 0 !important;
        @media (min-width: 800px) and (max-width: 1440px) {
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
    }

    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 200px !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        //width: calc(100% - 260px);
        margin-bottom: 0 !important;
        @media (min-width: 800px) and (max-width: 1440px) {
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
    }

    &__game{
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 50px;
        margin-left: 0 !important;
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        &:hover{
            opacity: 1;
        }

    }

    &__cover{
        position: absolute;
        width: 100%;
        height: 550px;
        left: 0;
        right: 0;
        top: 0;
        background: transparent;

        &:after{
            content: ' ';
            position: absolute;
            width: 100%;
            height: 400px;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, #1E1E20 0%, rgba(30, 30, 32, 0) 100%);
        }
    }
}
@media (min-width: 450px) and (max-width: 800px) {
    .post-page{

        margin: 0 auto 0 auto;
        width: calc(100% - 32px);
    }
}
@media (max-width: 450px) {
    .post-page{

        margin: 0 auto 0 auto;
        width: calc(100% - 32px);

        &__img{

            &_pic{

            }
            &_blur{

            }
        }

        p{
            margin-left: 0;
            font-size: 18px !important;
            line-height: 28px !important;
            width: calc(100vw - 40px);
        }

        &__title{
            margin-top: 0 !important;
            font-size: 24px;
            line-height: 30px;
        }

        &__game{
            margin-left: 20px;
            &:hover{

            }

        }

        &__cover{
            height: 300px;
            &:after{
            height: 300px;
            }
        }
    }
}