input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.searchBar {
    position: relative;
    width: 700px;
    margin: 21px auto;
    @media (max-width: 700px) {
        width: 341px;
    }
}

.searchInput {
    width: 700px;
    height: 53px;
    background: #ffffff;
    border: 0;
    border-radius: 20px;
    padding: 14px 65px 13px 17px;
    box-sizing: border-box;
    font: normal normal 22px/26px Roboto;
    color: #000;
    &:focus{
        outline: none;
    }
}

.searchButton {
    position: absolute;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 53px;
    height: 53px;
    right: 7px;
    background: url(./search.png) 50% no-repeat;
}
