.auth-form {
    margin: 120px auto;
    width: 340px;

    h3 {
        margin: 30px 0 60px 0;
        text-align: center;
    }

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        font-size: 16px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #333333;
        border-radius: 4px;
        transition: 200ms;
        &:focus {
            border: 1px solid #9B5DF7;
        }
        &::placeholder{
            color: #627B85;
            font-size: 14px;
        }
    }

    &__button {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        height: 45px;
        margin: 20px 0;
        background-color: #9B5DF7;
        border-radius: 4px;
        transition: 200ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}




