.authorBadge{
  float: left;
  height: auto;
  background: #333;
  margin: 32px 0 32px 0;
  border-radius: 8px;
  cursor: pointer;

  &_avatar{
    width: 40px;
    height: 40px;
    margin: 8px;
    float: left;
    border-radius: 20px;
  }

  &_disclaimer{
    margin: 16px 16px 16px 16px;
    float: left;
    //width: calc(100% - 100px);
    & a{
      text-decoration: underline;

    }
  }

  &_name{
    float: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 32px 8px 8px;
  }
}