
.freshHeading{
  margin-left: 130px !important;
  margin-bottom: 50px !important;
  margin-top: 0 !important;
  padding: 0 !important;
  font-size: 36px;
  line-height: 42px;
}

.freshContainer{
  width: 100vw;
  height: 270px;
  overflow: hidden;
}
.freshWrapper {
  position: relative;
  height: 290px;
  padding: 0 130px;
  margin: 20px 0 0 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 800px) and (max-width: 1440px) {
  .freshHeading {
    margin-left: 130px !important;
    margin-bottom: 50px !important;
    margin-top: 0 !important;
    padding: 0 !important;
    font-size: 36px;
    line-height: 42px;
  }
  .freshWrapper {
    position: relative;
    height: 290px;
    padding: 0 20px !important;
    margin: 20px 0 0 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

}


}
@media (min-width: 450px) and (max-width: 800px) {

}
@media (max-width: 450px){
  .freshHeading {

    margin-left: 20px !important;
    margin-bottom: 20px !important;
    margin-top: 0 !important;
    padding: 0 !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .freshWrapper {
    position: relative;
    height: 290px;
    padding: 0 20px !important;
    margin: 20px 0 0 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

  }
}