
<script type="text/javascript">
var xmlSocket = null;
function remoteTypograf (text) {
xmlSocket = window.ActiveXObject ? new ActiveXObject ("Microsoft.XMLHTTP") : (window.XMLHttpRequest ? new XMLHttpRequest() : null);	if (!xmlSocket) return;
document.getElementById ('Submit').disabled = true;
text = text.replace (/<[^>]+>/g, '');
text = text.replace (/&/g, '&amp;');
text = text.replace (/</g, '&lt;');
text = text.replace (/>/g, '&gt;');
var xmlRequest = '<?xml version="1.0" encoding="UTF-8"?>' + '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">' + '<soap:Body>' +
'<ProcessText xmlns="http://typograf.artlebedev.ru/webservices/">' + '<text>' + text + '</text>' + '</ProcessText>' +
'</soap:Body>' +
'</soap:Envelope>';
requestTypograf ('http://typograf.artlebedev.ru/webservices/typograf.asmx', xmlRequest);
}
function requestTypograf (url, text)
{
if (!xmlSocket) return;
try
{	netscape.security.PrivilegeManager.enablePrivilege ("UniversalBrowserRead");
}
catch (e) {}
xmlSocket.onreadystatechange = typografCallback;
xmlSocket.open ("POST", url, true);
xmlSocket.send (text);
}
function typografCallback()
{
if (xmlSocket && xmlSocket.readyState == 4 && xmlSocket.status == 200)
{
parseTypografAnswer();
xmlSocket = null;
}	}
function parseTypografAnswer()
{
var response = xmlSocket.responseText;
var re = /<ProcessTextResult>\s*((.|\n)*?)\s*<\/ProcessTextResult>/m;
response = re.exec (response);
response = RegExp.$1;
response = response.replace (/&gt;/g, '>');
response = response.replace (/&lt;/g, '<');
response = response.replace (/&amp;/g, '&');
document.getElementById ('Text').value = response;
document.getElementById ('Submit').disabled = false;
}
</script>
