

.office__button{
    display: inline-block;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 10px 18px;
    background-color:#9B5DF7;
    border-radius: 4px;
    transition: 200ms;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    &:hover{
        transform: scale(1.1);
    }
    &_newLine{
        float: left;
        clear: left;
    }
}

.buttonsWrapper{
    margin-left: 130px;
}

.profile{
    display: grid;
    margin-top: 80px;
    margin-left: 130px !important;
    grid-template-columns: 150px 1fr;
    grid-gap: 32px;
    padding: 40px 0;
    @media (max-width: 700px){
        display: block;
    }

    &__avatar{
        margin: 0 auto;
        border-radius: 4px;
        width: 150px;
        height: 150px;
        text-align: center;
        box-sizing: border-box;
        transition: 1s;

        &:hover{
            background: #616161;

            & label{
                display: block;
                text-decoration: underline;
            }
        }

        & label{
            cursor: pointer;
            line-height: 150px;
            display: none;
        }

        //& input{
        //    display: none;
        //}
    }

    &__info{
        font-size: 16px;
        margin: 0 0;
        align-self: center;

        div{
            padding: 10px;
        }
    }
}