.post-on-page-game{
   position: relative;
   height: 41px;
   width: 100%;
   box-sizing: border-box;
   background: #ffffff;
   border-radius: 10px 10px 10px 0;
   text-align: left;
   overflow: hidden;
   cursor: pointer;
   color: #000000;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);

    &__poster{
      position: absolute;
      left: 0;
      top: 0;
      max-width: 40px;
      width: auto;
      height: auto;
      background: #222222;
      overflow: hidden;
      border-radius: 0 0 10px 0;
    }

    &__title{
      position: absolute;
      left: 0;
      right: 0;
      height: calc(100% - 6px);
      margin: 0 10px 0 40px;
      padding: 3px 10px;
      color: #333333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      opacity: 1;
      text-shadow: none;
   }

   p{
      position: absolute;
      color: #333333;
      font-size: 12px;
      bottom: 0;
      left: 50px;
      line-height: 22px;
   }
}
