.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(229, 229, 229, .5);
    text-align: center;
}

.modal-window {
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
    top: 30%;
    padding: 30px 25px 15px 25px;
    box-sizing: border-box;
    width: 340px;
    background: #333333;

    &__title, &__content{
        margin-bottom: 10px;
    }

    &__button{
        margin-top: 5px;
        font-size: 16px;
        width: 300px;
        height: 40px;
        background-color: #222222;
        border: none;
        cursor: pointer;
        transition: 1s;

        &:focus, &:active{
            outline: none;
        }

        &:hover {
            background-color:white;
            color: #333333;
        }
    }
}