/*   Roboto from googleFonts   */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext');

/*   Normalized   */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*   Navigation Bar   */

.navigationContainer{
    background: #7b7b7b;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
}

.navigationWrapper{
    position: relative;
    width: 1060px;
    margin: 0 auto;
}
@media (min-width: 700px) and (max-width: 1440px) {
    .navigationWrapper{
        width: 700px;
    }
}
@media (max-width: 700px) {
    .navigationWrapper{
        width: calc(100% - 10px);
    }
}

/*   Main section   */

.mainContainer{
    margin: 60px 0;
    height: auto;
    min-height: calc(100vh - 120px);
    width: 100%;
    bottom: 0;
}
.mainWrapper{
    margin: 0 auto;
    height: auto;
    min-height: calc(100vh - 120px);
    width: 1060px;
    background: #efefef;
}
@media (min-width: 700px) and (max-width: 1440px) {
    .mainWrapper{
        width: 700px;
    }
}
@media (max-width: 700px) {
    .mainWrapper{
        width: calc(100% - 10px);
    }
}


/*   Footer Bar   */

.footerContainer{
    background: #7b7b7b;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
}
.footerWrapper{
    position: relative;
    width: 1060px;
    height: 100%;
    margin: 0 auto;
}
@media (min-width: 700px) and (max-width: 1440px) {
    .footerWrapper{
        width: 700px;
    }
}
@media (max-width: 700px) {
    .footerWrapper{
        width: calc(100% - 10px);
    }
}


.logo{
    background: url(./img/logo_main.png) no-repeat;
    background-size: contain;
    width: 100px;
    height: 60px;
    margin: 0 auto;
}
