.mainLast {
    display: none;
    @media (min-width: 1400px) {
        display: block;
    }
    h2 {
        font-size: 30px;
        line-height: 35px;
    }
}


.mainLastWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 700px;
    overflow: hidden;
    margin: 20px auto;
}