/*   Navigation Bar   */
.navigationContainer{
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(10px);
}

.navigationWrapper{
  position: relative;
  width: calc(100% - 260px);
  margin: 0 auto;
  z-index: 99;
}

.userAuth{
  position: absolute;
  right: 0;
  height: 100%;
}

.authLinksList{
  position: relative;
  right: 0;
  z-index: 99;
  :last-child{
    padding: 17px 0 17px 0;
  }
  li{
    float: left;
    list-style: none;
    display: block;
    height: 36px;
    margin: 0;
    padding: 17px 32px 17px 0;
    line-height: 36px;
    font-weight: bold;
    font-size: 16px;
    a{
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: 1s;
      &:hover {

      }
    }
    .button{
      background: #9B5DF7;
      color: #fff;
      border-radius: 8px;
      line-height: 36px;
      height: 36px;
      padding: 10px 32px;
    }
    .userAvatar{
      padding: 0;
    }
  }
  @media (max-width: 450px) {
    display: none;
  }
}

.userAvatar{
  display: block;
  width: 40px;
  height: 40px;
  top: -2px;
  border-radius: 50%;
  border: none !important;
  background: #fff;
  margin: 0 0;
  text-align: center;
  line-height: 40px;
  color: #000 !important;
  z-index: 99;
  position: relative;
  padding: 0;
}

.navigationButton{
  display: inline-block;
  height: 100%;
  color: #fff;
  padding: 0 !important;
  background: none;
  line-height: 36px;
  font-weight: bold;
  font-size: 16px;
}
@media (min-width: 800px) and (max-width: 1440px) {
  .navigationWrapper{
    width: calc(100vw - 40px) !important;
    margin: 0 20px !important;
  }
}
@media (max-width: 800px) {
  .navigationWrapper{
    width: calc(100vw - 40px) !important;
    margin: 0 20px !important;
    height: 70px;
  }
}