/*   Navigation Bar   */


.navigationContainer{
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
}

.navigationWrapper{
  position: relative;
  width: 1060px;
  margin: 0 auto;
}
@media (min-width: 700px) and (max-width: 1440px) {
  .navigationWrapper{
    width: 700px;
  }
}
@media (max-width: 700px) {
  .navigationWrapper{
    width: calc(100% - 10px);
  }
}

.userAuth{
  position: absolute;
  top: -10px;
  right: 0;
  height: 100%;
}

.authLinksList{
  position: relative;
  li{
    float: left;
    list-style: none;
    display: block;
    height: 50px;
    margin: 5px;
    line-height: 50px;

    a{
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: 1s;
      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}


.userAvatar{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin: 5px auto;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #000 !important;
}

.navigationButton{
  display: inline-block;
  height: 100%;
  color: #fff;
  padding: 10px 20px;
  background: none;
  border: none;
  font-size: 14px;
}
